# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: umutphp/php-docker-images-for-ci:7.1
    working_directory: ~/repo
    steps:
      - checkout
      - run: composer install -n --prefer-dist
  test-7.0:
    docker:
      - image: umutphp/php-docker-images-for-ci:7.0
    working_directory: ~/repo
    steps:
      - checkout
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpcs --standard=CoerciveStandards --report=checkstyle tests/sample/errors.php || exit 0
      - run: ./vendor/bin/phpcs --standard=CoerciveStandards --report=checkstyle tests/sample/correct.php
  test-7.1:
    docker:
      - image: umutphp/php-docker-images-for-ci:7.1
    working_directory: ~/repo
    steps:
      - checkout
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpcs --standard=CoerciveStandards --report=checkstyle tests/sample/errors.php || exit 0
      - run: ./vendor/bin/phpcs --standard=CoerciveStandards --report=checkstyle tests/sample/correct.php
  test-7.2:
    docker:
      - image: umutphp/php-docker-images-for-ci:7.2
    working_directory: ~/repo
    steps:
      - checkout
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpcs --standard=CoerciveStandards --report=checkstyle tests/sample/errors.php || exit 0
      - run: ./vendor/bin/phpcs --standard=CoerciveStandards --report=checkstyle tests/sample/correct.php
workflows:
  version: 2
  build_and_create:
    jobs:
      - build
      - test-7.0:
          requires:
            - build
      - test-7.1:
          requires:
            - build
      - test-7.2:
          requires:
            - build